.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  width: 15%;
  top: 0;
  right: 0;
  margin-right: 1em;
  color: black;
  cursor: pointer;
  z-index: 999;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.topContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.profileImage {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-left: 2em;
}

.profileNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
}

.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.profileName {
  font-size: 20px;
  margin-right: 10px;
  width: 100%;
  text-align: center;
}

.dropdownMenu {
  top: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #fff;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdownMenu ul li {
  padding: 10px;
  width: 100%;
  margin-top: 1em;
  transition: 0.3s;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
}

.dropdownMenu ul li img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.dropdownMenu ul li:hover {
  background-color: var(--gris-claro-beecker);
  color: var(--morado-beecker);
  scale: 1.1;
  transition: 0.3s;
}

.notification {
  width: 2em;
  height: 2em;
}

.notification:hover {
  transition: 0.3s;
  animation: ring 4s 0.1s ease-in-out infinite;
  transform-origin: 50% 4px;
  scale: 1.1;
}

.notification img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropdownMenuAlerts {
  top: 100%;
  margin-right: 90%;
  margin-top: 1em;
  width: 100%;
  height: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow-y: auto;
  border-radius: 10px;
}

.dropdownMenuAlerts ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.noNotifications {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .profileContainer {
    width: 30%;
    margin-right: 0;
  }

  .topContainer {
    padding: 5px;
  }

  .profileImage {
    width: 100%;
    height: 1em;
  }

  .profileImage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .profileNameContainer {
    width: 100%;
  }
}

@media print {
  .profileContainer {
    display: none;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
