.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: fixed;
  width: 12%;
  top: 0;
  right: 0;
  margin-right: 1em;
  color: black;
  cursor: pointer;
  z-index: 999;
}

.topContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.profileImage {
  width: 25%;
  height: 100%;
  border-radius: 50%;
  margin-right: 10px;
}

.profileNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 100%;
}

.profileImage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.profileName {
  font-size: 20px;
  margin-right: 10px;
  width: 100%;
  text-align: center;
}

.dropdownMenu {
  top: 100%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdownMenu ul li {
  padding: 5px;
  width: 100%;
  margin-top: 1em;
  transition: 0.3s;
  border-bottom: 1px solid black;
}
