.footer {
  display: flex;
  height: 50px;
  background-color: #fff;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
