.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 10%;
  width: 100%;
}

.header h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--rojo-beecker);
}

.topContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1em 0;
}

.topLeftContainer {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
}

.topMediumContainer {
  width: 70%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.incidentTitle {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: var(--azul-beecker);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e0dfdf;
}

.titleContainer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em;
  margin: 0.5em 0;
}

.mediumContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 80%;
  padding: 1em;
}

.label {
  font-size: 1rem;
  font-weight: 100;
  color: var(--morado-beecker);
}

.elementText {
  font-size: 1rem;
  font-weight: 100;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #e0dfdf;
  background-color: transparent;
  color: #000;
}

.select {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #e0dfdf;
  background-color: transparent;
  color: #000;
}

.textarea {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #e0dfdf;
  background-color: transparent;
  resize: none;
  color: #000;
}

.valueContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
}

.leftContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.rightContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.elementContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  padding: 0.5em;
  margin: 0.5em 0;
}

.topRightContainer {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.mediumContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 30%;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1em 0;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  height: 15em;
  max-height: 60%;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 1em 0;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 5em;
}

.imgEditContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
}

.imgEditContainer:hover {
  cursor: pointer;
  scale: 1.1;
  transition: 0.3s;
}

.imgEditContainer img {
  width: 100%;
  height: 100%;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.buttonSave {
  width: 10%;
  height: 3em;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  margin: 0.5em;
}

.buttonCancel {
  width: 10%;
  height: 3em;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 100;
  margin: 0.5em;
}

@media (max-width: 767px) {
  .main {
    padding: 4rem;
  }

  .header {
    padding: 0 1em;
  }

  .topContainer {
    padding: 0.5em;
  }

  .topLeftContainer {
    display: none;
  }

  .topMediumContainer {
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .topRightContainer {
    width: 30%;
    justify-content: center;
    align-items: center;
  }

  .mediumContent {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
  }

  .labelContainer {
    width: 100%;
  }

  .elementContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .labelContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .leftContainer {
    width: 100%;
  }

  .rightContainer {
    width: 100%;
  }

  .elementText {
    font-size: 0.8rem;
  }

  .mediumContainer {
    padding: 0.5em;
  }

  .bottomContainer {
    padding: 0.5em;
  }

  .imgContainer {
    width: 3em;
    height: 3em;
  }

  .imgEditContainer {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imgEditContainer img {
    width: 100%;
    height: 100%;
  }

  .buttonsContainer {
    width: 100%;
    height: 100%;
  }

  .buttonSave {
    width: 30%;
    height: 3em;
    font-size: 0.8rem;
  }

  .buttonCancel {
    width: 30%;
    height: 3em;
    font-size: 0.8rem;
  }

  .elementText {
    font-size: 0.8rem;
  }

  .incidentTitle {
    font-size: 1.5rem;
  }

  .titleContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    margin: 0.5em 0;
  }

  .titleContainer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    margin: 0.5em 0;
  }

  .label {
    font-size: 0.8rem;
  }

  .input {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
    background-color: transparent;
    color: #000;
  }

  .select {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
    background-color: transparent;
    color: #000;
  }

  .textarea {
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
    background-color: transparent;
    resize: none;
    color: #000;
  }

  .valueContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .leftContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .rightContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .elementContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    padding: 0.5em;
    margin: 0.5em 0;
  }

  .topRightContainer {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .mediumContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 30%;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1em 0;
  }

  .bottomContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 15em;
    max-height: 60%;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 1em 0;
  }
}
