.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.searchInput {
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5em;
  background-color: transparent;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchButton {
  background-color: #803fe0;
  color: #fff;
  border: none;
  padding: 0.5em;
  width: 8em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-left: 2em;
}

.searchButton:hover {
  background-color: #6a2cb8;
  scale: 1.1;
  transition: 0.3s;
}

.clearButton {
  background-color: var(--rojo-beecker);
  color: #fff;
  border: none;
  padding: 0.5em;
  width: 8em;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.2rem;
  margin-left: 2em;
}

.clearButton:hover {
  background-color: #ff0000;
  scale: 1.1;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .searchInput {
    width: 50%;
  }

  .searchButton {
    margin-left: 0;
    width: 5em;
  }

  .clearButton {
    margin-left: 0;
    width: 5em;
  }

}
