.searchPages {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 3em;
}

.searchPages input {
  width: 20%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 0.5em;
  font-size: 1.2rem;
  margin: 1em 0;
  color: black;
  background-color: #fff;
  text-align: center;
}

.searchPages input:focus {
  outline: none;
  border: 1px solid #000;
}

.suggestedPages ul {
  list-style: none;
  width: 20%;
}

.suggestedPages ul li {
  border-radius: 5px;
  cursor: pointer;
  width: 20em;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  color: black;
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: #fff;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.suggestedPages ul li:hover {
  scale: 1.1;
}

.suggestedPages ul li img {
  width: 1em;
  height: 1em;
  margin-right: 1em;
}

@media (max-width: 767px) {
  .searchPages {
    height: 5em;
  }

  .searchPages input {
    width: 30%;
  }

  .suggestedPages ul {
    width: 80%;
  }
}
