.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #F5F5F5;
  color: #000;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 20%;
  margin: 0 auto;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
}

.welcomeContainer p {
  font-size: 2rem;
  font-weight: 100;
  margin-right: 1rem;
  font-family: var(--mainFont);
}

.welcomeText {
  color: var(--rojo-beecker);
  font-weight: 600;
  font-family: var(--mainFont);
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 30em;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .main {
    padding: 2%;
  }
}
