.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #fff;
  color: var(--gris-oscuro-beecker);
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2em;
}
.logo {
  width: 400px;
  height: 100px;
  margin-bottom: 2rem;
  object-fit: contain;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
}

.form h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 100;
  color: var(--gris-oscuro-beecker);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.inputContainer label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--gris-oscuro-beecker)
}

.inputContainer input {
  padding: 1rem;
  border: 1px solid var(--gris-oscuro-beecker);
  border-radius: 10px;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  color: #000;
}

.button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  width: 50%;
  margin-bottom: 1rem;
  background-color: var(--morado-beecker);
  color: #fff;
  cursor: pointer;
}

.button:hover {
  scale: 1.1;
  transition: 0.3s;
  background-color: var(--azul-beecker);
}

.forgotPassword {
  font-size: 1rem;
  color: var(--rojo-beecker);
  text-decoration: none;
  margin-bottom: 1rem;
}

.forgotPassword:hover {
  text-decoration: underline;
  scale: 1.1;
  transition: 0.3s;
  color: var(--azul-beecker);
}

@media (max-width: 767px) {
  .form{
    width: 50em;
  }

  .button {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
  }
}
