.languageSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  z-index: 999;
}
