.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  font-family: var(--mainFont);
}

.topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.topContainer h2 {
  border-left: 3px solid var(--morado-beecker);
  padding: 0.5em;
  font-weight: 200;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.elementContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.valueContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.select {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #e0dfdf;
  background-color: transparent;
  color: #000;
  font-size: 1.25rem;
  text-align: center;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  background-color: #fff;
  color: #000;
}

.buttonSave {
  width: 20%;
  height: 3em;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--morado-beecker);
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767px) {
  .modalContent {
    padding: 10px;
  }

  .topContainer h2 {
    font-size: 1.5rem;
  }

  .elementContainer {
    flex-direction: column;
  }

  .labelContainer {
    width: 100%;
  }

  .valueContainer {
    width: 100%;
  }

  .select {
    font-size: 1rem;
  }

  .input {
    font-size: 1rem;
  }

  .buttonSave {
    font-size: 1rem;
  }
}
