.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #000;
  font-family: "Montserrat", sans-serif;
}

.topContainer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bottomContainer {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.botNameContainer h1 {
  font-size: 2rem;
  font-weight: 100;
  margin: 1em;
}

.topBottomContainer {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.graphTitle {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 1em;
  border-bottom: 2px solid var(--morado-beecker);
  width: 10em;
}

.graphsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2em;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.graphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 20em;
  margin: 2em;
}

.topLeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
  height: 100%;
}

.topRightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  height: 100%;
}

.exportButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 3em;
  background-color: var(--morado-beecker);
  color: #fff;
  border: none;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  margin: 1em;
}

.exportButton:hover {
  scale: 1.05;
  background-color: var(--azul-beecker);
  transition: all 0.3s ease;
}

.indicatorsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 90%;
  height: 12em;
}

.controllersContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10%;
  height: 10em;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.indicatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 100%;
  padding: 1rem;
}

.controllersContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 10em;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.controllerContainer {
  width: 100%;
  height: 50%;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.controllerButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 3em;
  border: 1px solid var(--morado-beecker);
  background-color: transparent;
  color: var(--morado-beecker);
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  margin-left: 1em;
}

.iconContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controllerButton:hover {
  scale: 1.05;
  transition: all 0.3s ease;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.controllerButton p {
  margin-left: 2em;
  padding: 0;
}

.select {
  width: 10em;
  height: 3em;
  border: 1px solid var(--morado-beecker);
  background-color: transparent;
  color: black;
  border-radius: 0.5em;
  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  padding: 0.5em;
  margin-left: 1em;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2em;
  border-radius: 1.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .main {
    padding: 10%;
  }

  .topContainer {
    height: 30%;
  }

  .botNameContainer {
    height: 10%;
  }

  .topBottomContainer {
    height: 90%;
    flex-direction: column;
  }

  .controllersContainer {
    width: 100%;
    order: 1;
  }

  .indicatorsContainer {
    width: 100%;
    order: 2;
    height: auto;
  }

  .botNameContainer h1 {
    font-size: 1.2rem;
  }

  .indicatorsContainer {
    flex-direction: column;
  }

  .bottomContainer {
    height: 70%;
    flex-direction: column;
    width: 100%;
  }
  .topBottomContainer {
    height: 10%;
    width: 100%;
  }
  .topLeftContainer {
    width: 100%;
    height: 50%;
    order: 4;
  }

  .topRightContainer {
    width: 100%;
    height: 50%;
    order: 3;
    justify-content: center;
    align-items: center;
  }

  .exportButton {
    width: 90%;
    height: 3em;
    font-size: 1rem;
  }

  .graphsContainer {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .graphContainer {
    width: 100%;
    height: 20em;
    margin: 0;
  }
}

@media print {
  .main {
    padding: 0;
  }

  .topContainer {
    height: 30%;
  }

  .botNameContainer {
    height: 10%;
  }

  .topBottomContainer {
    height: 100%;
    flex-direction: column;
  }

  .controllersContainer {
    display: none;
  }

  .indicatorsContainer {
    width: 100%;
    order: 2;
    height: auto;
    flex-direction: row;
  }

  .indicatorContainer {
    width: 25%;
    height: 12em;
  }

  .topRightContainer {
    display: none;
  }
  .botNameContainer h1 {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--morado-beecker);
  }

  .graphContainer {
    width: 100%;
    height: 20em;
    margin: 5em;
  }

  .tableWrapper {
    width: 100%;
    height: 100%;
    padding: 2em;
    margin-top: 5em;
    border-radius: 1.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}
